<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Spotify Playlist Generator</h1>

    <div class="home-container">
    
        <!-- Create Playlist form -->
        {% if not session.playlist_id %}
        <form action="/create_playlist" method="post">
            <input type="text" name="playlist_name" placeholder="Enter playlist name..." required
                style="padding:10px; border-radius:20px; border:none; margin-bottom:16px; width:250px; text-align:center;">
            <br>
            <button type="submit">Create Playlist</button>
        </form>
        {% else %}
        <p>
            <a class="button" href="{{ session.playlist_url }}" target="_blank">Open in Spotify</a>
        </p>
        {% endif %}

        <!-- Start Playlist form -->
        <form action="/start" method="post">
            <input type="text" name="genre" placeholder="Enter a genre for recommendations..." required
                    style="padding:10px; border-radius:20px; border:none; margin-bottom:16px; width:250px; text-align:center;">
            <br>
            <button type="submit">Begin</button>
        </form>
    </div>
  
</body>
</html>